[flake8]
exclude=
    env/,
    venv/,
    README.md,
    requirements.txt,
    .env,
    .env.example,
    api_users/migrations,
    api_contracts/migrations,
    api_customers/migrations,
    api_events/migrations,
    api_users/tests.py,
    api_contracts/tests.py,
    api_customers/tests.py,
    api_events/tests.py,

max-line-length = 119